<div class="search-box pull pull-right">
    <a *ngIf="loginService.isLoggedIn()" class="btn btn-link btn-outline btn-circle collapsed"  data-toggle="collapse" 
            href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3" style="color: white">Search
            <span class="glyphicon glyphicon-search"></span></a>
</div>

<div class="collapse nav navbar-nav nav-collapse slide-down pull-right" id="nav-collapse3">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" [(ngModel)]='searchTerm' name="searchTerm" placeholder="Search" />
        </div>

    </form>
</div>

<!--a container that allow user logged in to create a new bucketlist-->

            <!-- Modal -->
            <div class="modal fade" id="createNew" role="dialog">
                 <div class="modal-dialog">
                     <!-- Modal content-->
                     <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bucketlist">New Bucketlist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--have the title and description of the bucketlist-->
                            <form id="create-new-bucketlist" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="model.title" id="title" class="form-control" required minlength="4" 
                                    maxlength="24" placeholder="Title" name="title" >
                                </div>
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="model.description" id="description" class="form-control" 
                                    maxlength="250" placeholder="Description" name="description" >
                                </div>
                                
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4 pull-left">
                                        <input type="submit" (click)="createBucketlist()" class="form-control btn btn-success" data-dismiss="modal"
                                            value="Create New Bucketlist">
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                     </div>
                 </div>
            </div>

<!-- A container that displays the bucketlists with all the buttons -->
                <div class="container" id="tourpackages-carousel">
                    <div class="row">
                        <div class="col-lg-12"><h1>My Bucketlists <a class="btn icon-btn btn-primary pull-right" data-toggle="modal" data-target="#createNew"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span> Add New Bucketlist</a></h1></div>
                        <div style="color: red" *ngIf="errorMessage">
                            <p>Bucketlist with that title already exists </p>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let bucketlist of bucketlists | bucketlistFilter:searchTerm | paginate: {itemsPerPage: 9, currentPage:page, id: '1'}; 
                                let i = index" id="bucket-div">
                            
                        <div class="thumbnail">
                            <div class="caption">
                                <div class='col-lg-12'>
                                    <button type="button" (click)='getModalValues(bucketlist.bucketlist_id, bucketlist.title, bucketlist.description)'
                                     class="btn btn-link pull-right"  data-toggle="modal" [attr.data-target]="'#confirmDelete' + i">
                                    <span class="glyphicon glyphicon-trash pull-right" style="color: #721911"></span>
                                    </button>
                                </div>
                            
                                    <div class='col-lg-12 well well-add-card'>
                                         <a [routerLink]="['/bucketlists', bucketlist.bucketlist_id]" class="btn btn-link">
                                             <h2>{{ bucketlist.title }}</h2>
                                         </a>
                                         <h4>{{ bucketlist.description }}</h4>
                                    </div>
                                

                                <a (click)='getModalValues(bucketlist.bucketlist_id, bucketlist.title, bucketlist.description)' class="btn btn-edit" 
                                                        data-toggle="modal" [attr.data-target]="'#editBucketList' + i"><span class="glyphicon glyphicon-pencil"> Edit</span></a>
                            </div>
                            
                        </div>

                          <!-- Edit Modal -->
                            <div [id]="'editBucketList' + i" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Bucketist</h4>
                                    </div>
                                    <div class="modal-body">
                                    <form id="update-bucketlist" method="post" role="form" style="display: block;">
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="model.title" placeholder="Title" name="title" id="title" tabindex="1" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" [(ngModel)]="model.description" placeholder="Description" name="description" id="description" tabindex="2" class="form-control">
                                        </div>
                                        <div class="form-group">
                                        <div class="row">
                                            <div class="modal-footer">
                                                <input type="submit" (click)="updateBucketlist()" class="btn btn-success" data-dismiss="modal" value='Update'>
                                                <button type="button" class="btn btn-default" data-dismiss='modal'>Cancel</button>
                                            </div>
                                        
                                        </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>


                                <!--End edit modal-->

                                <!--Delete modal-->
                                <!-- Modal -->
                                <div class="modal fade" [id]="'confirmDelete' + i"  role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete Bucketlist </h4>
                                        </div>
                                        <div class="modal-body">
                                                <p>Confirm that you want to delete this Bucketlist?</p>
                                        </div>
                                        <div class="modal-footer">
                                                <input type="submit" (click)="deleteBucketlist()" class="btn btn-success" data-dismiss="modal" value='Delete'>
                                        <button type="button" class="btn btn-default" data-dismiss='modal'>Cancel</button>
                                            </div>
                                        </div>
                                </div>
                                </div>

                                <!--End delete modal-->

                        </div>
                    </div> <!-- End row -->
                </div> <!-- End container -->

<!--end modal-->
<div class="paginate-section">
    <pagination-controls (pageChange)="page = $event" id="1"
                        maxSize="5"
                        directionLinks="true"
                        autoHide="false"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>
