
.container-fluid {
    background: url(/app/images/sand.jpg);
    background-size: cover;
}

.tag-line {
    text-align: center;
    text-justify: inter-word;
    color: greenyellow;
    font-size: 70px;
    /*position: absolute;*/
}

.text-center {
    color: white;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
